.container{
    display: flex;
    background-color: #EDE8E3;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
}

.raincoat{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}


h1{
    font-size: 60px;
    color:white ;
    text-shadow: 2px 4px 4px rgb(187, 184, 184);
    top: 100px;
}

.border{
  
    border: 5px solid #EDE8E3;
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
}

    .border p{
        max-width: 500px;
        font-size: 1.6em;
        line-height: 60px;
    }
    
/* sett inn i header/footer. la til fontsiz over til em og bedre strls
    .news p {
        font-size: .8em;
        cursor: pointer;
    }
    .news p:hover{
        text-decoration: underline;
    }
    */

    @media (max-width:1115px){
        .container{
            flex-direction: column-reverse;
        }

        .raincoat{
            width: 218.75px;
            height: 218.75px;
        }
        
        .border{
            margin-left: 200px;
            margin-right: 200px;
        }
        
        .border p{
            font-size: 20px;
        }
    }

    @media (max-width:655px){
        .border{
            margin-left: 20px;
            margin-right: 20px;
        }
    }