@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

.container{
    height: 150px;
    display: flex;
    background-color: #EDE8E3;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
    font-size: 60px;
    font-family: 'Harmattan', sans-serif;
    color: #fff;
    text-shadow: 0px 4px 4px rgb(188, 188, 188)
}
.container .fa-shopping-bag{
    color: #fff;
   font-size: 100px;
}

.border{
    border: 10px solid #EDE8E3;
    margin:100px; 
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.flexbox1{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

h2{
    font-family: 'Harmattan', sans-serif;
    font-size: 40px;
    color: #00396B;
    letter-spacing: 1px;
}

#checkoutform{
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  gap: 20px;
  font-family: 'Harmattan',sans-serif;
  padding-bottom: 200px;
  font-size: 30px;
  padding-left: 100px;
  align-items: center;
}
.input-border{
    border:#00396B solid 2px;
    border-radius: 20px;
    height: 30px;
    padding-left: 20px;
}

.form-row{
    display: flex;
    flex-direction: column;
}


.jacket-container{
    border: solid #EDE8E3 6px;
    border-radius: 1em;
    object-fit: contain;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 220px;
}

.jacket{
    width: 243.75px;
    height: 187.5px;
}

.flexbox2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerflex{
    display: flex;
}

.columntext{
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Harmattan', sans-serif;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}
.buttondiv{
display: flex;
align-items: center;
background-color: white;
color: #00396B;
justify-content: center;
margin-top: 70px;
}

button{
    width: 165px;
    height: 30px;
}

button:hover{
    background-color: #ECB247;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px;
    border: #00396B 1px solid;
}

button:active{
    background-color: #00396B;
    color: white;
    border: #ECB247 2px solid;
}

.form-row:hover .input-border{
    border: #ECB247 2px solid;
}

.form-row:hover label{
    color: #ECB247;
}

.innerflex2{
    display: flex;
}

@media (max-width:1248px){
    #checkoutform{
        flex-direction: column;
        padding-bottom: 30px;
        padding-left: 0;
    }
    
    .border{
        margin:20px;
        margin-top: 100px;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .innerflex{
        flex-direction: column;
        align-items: flex-start;
    }

    .columntext{
        margin-left: 0;
        line-height: 6px;
        display: block;
        
    }

    .buttondiv{
        margin-top: 34px;
        margin-bottom: 34px;
        display: block;
    }

    .container{
        font-size: 40px;
    }
    .container .fa-shopping-bag{
        font-size: 76px;
    }

    .innerflex2{
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .jacket-container{
        padding-bottom: 0;
        padding-top: 20px;
    }
}

@media (max-width:434px){
    #checkoutform{
        font-size: 25px;
    }

    .jacket-container{
        width: 200px;
        height: 200px;
        display:flex;
        justify-content: center
    }

    h2{
        font-size: 35px;
    }

    .columntext{
        font-size: 25px;
    }

    .container{
        font-size: 40px;
    }
    .container .fa-shopping-bag{
        font-size: 50px;
    }
}