.container{
    display: flex;
    background-color: #EDE8E3;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
    color: white;
    text-shadow: 2px 4px 4px rgb(187, 184, 184);
}

.raincoat{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactform{
    display: flex;
    flex-direction: column;
    padding: 100px;
    line-height:50px;
    color: #00396B;
    align-items: center;
    overflow:hidden;
    font-size: 25px;
    border: 5px solid #EDE8E3;
    flex-shrink: 1;
}

.contactform:hover{
    color: #ECB247;
}

.contactform label {
    min-width: 154px;
    background-color: rgba(255, 251, 244, 0.1);
}

.form-border{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.inputborder{
    border-radius: 2em;
    border: #00396B solid;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    padding-left: 20px;
}

.inputborder:hover{
    border: #ECB247 solid;
}

.inputborder-ym{
    border-radius: 15px;
    border:#00396B solid;
    padding-bottom: 80px;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inputborder-ym:hover{
    border:#ECB247 solid;
}

.contactform .submit{
    margin-top: 20px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: #00396B;
    margin-top: 50px;
    border-radius: 10px;
    background: white;
    border: #00396B solid;
}

.contactform .submit:hover {
    background-color: #ECB247;
    color: white;
    cursor: pointer;
}


@media (max-width:1000px){
    .container{
        flex-direction: column-reverse;
        font-size: 30px;
        margin-top: 80px;
    }

    .raincoat{
        width: 218.75px;
        height: 218.75px;
    }

    .contactform{
        line-height: 40px;
    }

    .form-border{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .submit{
        width: 180px;
    }
}
