.contactform{
    display: flex;
    flex-direction: column;
    border: 5px solid #EDE8E3;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding:100px;
    line-height:80px;
    color: #ECB247;
    align-items: center;
    overflow: auto;
    font-size: 25px;
}

.inputborder{
    border-radius: 2em;
    border: #ECB247 solid thin;
}

.inputborder-ym{
    border-radius: 15px;
    border:#ECB247 solid thin;
    padding-bottom: 80px;
    padding-top: 10px;
    display: flex;
}

#submit{
    margin-top: 20px;
}
.container{
    display: flex;
    background-color: #EDE8E3;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
}

.raincoat{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    font-size: 60px;
    color: white;
    text-shadow: 2px 4px 4px rgb(187, 184, 184);
}


@media (max-width:1115px){
    .container{
        flex-direction: column-reverse;
    }

    .raincoat{
        width: 218.75px;
        height: 218.75px;
    }

    .contactform{
        line-height: 50px;
    }
}

@media (max-width:655px){
    .contactform{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
        line-height: 40px;
    }
}

@media (max-width:365px){
    .contactform{
        font-size: 20px;
    }
}