.container{
    display: flex;
    background-color: #EDE8E3;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    color:white ;
    text-shadow: 2px 4px 4px rgb(187, 184, 184);
    font-size: 30px;
}

.raincoat{
    border-radius: 50%;
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner-container{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 50px;
}


h2{
    margin-top: 5em;
    padding-left: 9.5vw;
    font-size: 40px;
    color: #00396b;
}

.sortby-page-flex{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 28px;
    flex-wrap: wrap;
}

select{
    color:#00396b;
    height: 25px;
    width: 400px;
}

.sortby-page-flex p{
    color: #00396b;
}
.product-container-outer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    }
    
.product-container-inner{
    display: flex;
    width: 330px;
    border-radius: 45px;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
}


.jacket-container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: solid #EDE8E3 5px;
    padding:40px;
    align-items: center;
}

.jacket{
    height: 271px;
}



@media (max-width:760px){
    .container{
        flex-direction: column-reverse;
        margin-top: 80px;

    }

    .raincoat{
        width: 218.75px;
        height: 218.75px;
    }

    .jacket{
        height: 200px;
    }

    .jacket-container{
        margin:10px;
        min-width:192px;
        min-height: 266px;
    }

    .product-container-outer{
        margin: 60px;
    }

    .product-container-inner{
        width: 400px;
    }

    .sortby-page-flex{
        gap:20px
    }
}

@media (max-width:542px){
    .product-container-inner{
        padding: 10px;
    }
    .row1{
        flex-wrap: wrap;
    }


    .jacket-container{
        max-height: 213px;
        max-width: 213px;
    }

}