.container {
    height: 50px;
    background-color:#EDE8E3;
    display: flex;
    align-items: center;
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgb(143, 140, 140);
    text-indent: 50px;
    font-size: 30px;
}

h2{
    display: flex;
    justify-content: center;
    color: #00396b;
    font-size: 30px;
}

.product-container-outer{
    display: flex;
    justify-content: center;
}
.product-container-inner{
    border: 10px solid #EDE8E3;
    border-radius: 5px;
    width: 1200px;
}

.row1{
 display: flex;
 justify-content: space-around;
}  

.jacket-container{
    border: solid #EDE8E3;
    border-radius: 1em;
    margin-top: 50px;
    padding-top: 20px;
    height: 600px;
}

#text{
    margin-top: 105px;
    font-size:30px;
    max-width: 350px;
    line-height: 70px;
}

.row2{
    display: flex;
    margin-left: 270px;
    gap: 20px;

}

.color1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.color2{
    display: flex;
   flex-direction: column;
    align-items: center;
}

.color1 a{
    border: #00396b solid 3px;
    background-color: #D6C5CB; 
    width: 40px;
    height: 40px;
}

.color2 a{
    border: #EDE8E3 solid 3px;
    background-color: #606F84; 
    width: 40px;
    height: 40px;
}  

.color2 a:hover{
    border: #00396b solid 3px;
}
.color2 a:active{
    border: #00396b solid 3px;
}

.row3{
    margin-left: 130px;
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

form input{
display: none;
}

form input+label:hover{
    background-color: #b5b7bc;
    transition: 0.8s;
}
form input:checked+label{
    background-color: #b5b7bc;
}
form label{
    padding: 20px 20px;
    background-color: #d6dada9e;
    border-radius: 50%;
    border: #EDE8E3 solid 4px;
    margin: 10px;
}

.overallspan{
    display:flex;
    flex-direction: column;
    gap:60px
}

#addtocart{
    height: 60px;
    width:130px;
    font-size: 20px;
    border: #EDE8E3 solid 5px;
    background-color: white;
    cursor: pointer;
    color: #00396b;
}

.row4{
    display: flex;
    margin-left: 230px;
    margin-top: 50px;
    gap:20px;
}

.favorite{
   display:grid;
}

.heart1{
    grid-row: 1;
    grid-column: 2;
}
.heart2{
grid-row: 1;
grid-column: 2;
visibility: hidden;
}

.heart1:active{
    visibility:hidden;
}

.heart1:checked{
visibility: hidden;}

