
.container{
    height: 150px;
    display: flex;
    background-color: #EDE8E3;
    margin-top: 120px;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0px 4px 4px rgb(188, 188, 188)
}

.container .fa-shopping-bag{
    color: rgb(255, 255, 255);
   font-size: 70px;
}

.border{
    border: 10px solid #EDE8E3;
    margin:100px;
    color: #00396b;
    font-size: 25px;
}

.innerflex{  
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.pdiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pdiv p{
    margin: 5px;
}

h2{
    font-weight: normal;
}

.linkbackp{
    margin-bottom: 2px;
}

.linkbackp:hover{
    color: #ECB247;
}

.fa-long-arrow-left:hover{
    color: #ECB247;
}

@media (max-width:898px){
    .container{
        justify-content: center;
        font-size: 35px;
        flex-direction: column;
        object-fit: contain;
        margin-top: 80px;
    }

    .container .fa-shopping-bag{
        font-size: 55px;
    }

    h1{
        margin:0;
    }
}

@media (max-width: 572px){
    .border{
        margin: 20px;
        margin-top: 70px;
        font-size: 20px;
    }

    .container{
        font-size: 20px;
        margin-top: 50px;
    }

}